<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12"><h2>Добавить пользователя</h2></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div v-if="errors.length">
                    <b>Пожалуйста исправьте указанные ошибки:</b>
                    <ul>
                        <li v-for="error in errors">{{ error[0] }}</li>
                    </ul>
                </div>
                <form method="post" v-on:submit="saveForm">

                    <div class="form-group">
                        <label for="name">Имя пользователя</label>
                        <input type="text" v-model="user.name" placeholder="Имя пользователя" id="name" class="form-control mb-3">
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" v-model="user.email" placeholder="email" id="email" class="form-control mb-3">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-secondary mt-2">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {

    mounted() {
        console.log('User form mounted.')
    },
    data: function () {
        return {
            user: {
                name: '',
                email: '',
                phone: '',
                password: '',
            },
            errors : []
        }
    },
    methods: {
        updateEmail: function (event) {
            this.user.email = this.user.name + '@gmail.com';
        },
        saveForm: function (event) {
            event.preventDefault();
            var $this = this;
            axios.post('/admin/users/create/', this.user)
            .then(function (resp) {
                alert('успешно сохранено!');
            })
            .catch(function (resp) {
                console.log(resp.response.data.errors);
                $this.errors = resp.response.data.errors;
            });
        }
    }

}
</script>
